@import "../../variables.scss";
$movement: 3px;

.button {
  all: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
  padding: calc(8px - 1px) calc(32px - 1px);
  font-weight: 600;
  line-height: 1.5rem;
  color: $success300;
  text-align: center;
  cursor: pointer;

  &.iconPosition-left {
    flex-direction: row-reverse;
    padding-left: calc(24px - 1px);
  }

  &.iconPosition-right {
    padding-right: calc(24px - 1px);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: transform 0.25s;
  }

  &::before {
    z-index: -1;
    top: $movement;
    left: -$movement;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: $success100;
  }

  &::after {
    top: -$movement;
    left: $movement;
    border: 1px solid $success300;
    width: 100%;
    height: 100%;
  }

  &:hover {
    &::before {
      transform: translate(calc($movement * 2), calc($movement * -2));
    }

    &::after {
      transform: translate(calc($movement * -2), calc($movement * 2));
    }
  }
}
