@import "../../variables.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.decoration {
  padding: 0 8px;
  background-repeat: no-repeat;
  box-decoration-break: clone;
}

.decoration-background {
  @extend .decoration;
  background-position-y: 50%;
}

.decoration-underline {
  @extend .decoration;
  background-position-y: 90%;
}

.noDecoration {
  padding: 0 !important;
  background: none !important;
  box-decoration-break: slice !important;
}

.family-serif {
  font-family: "Playfair Display", serif;

  .decoration-background,
  .decoration-underline {
    background-position-y: 100%;
  }
}

h1 {
  font-size: $h1;
  line-height: calc($h1 + 0.5rem);

  .decoration {
    &-background {
      background-size: 100% calc($h1 + 0.9375rem); // 0.9375rem = 15px
    }

    &-underline {
      background-size: 100% calc($h1 / 2);
    }
  }

  &.family-serif {
    .decoration-background {
      background-size: 100% calc($h1 + 0.5rem);
    }
  }
}

@mixin h2 {
  font-size: $h2;
  line-height: calc($h2 + 0.5rem);

  .decoration {
    &-background {
      background-size: 100% calc($h2 + 0.6875rem); // 0.6875rem = 11px
    }

    &-underline {
      background-size: 100% calc($h2 / 2);
    }
  }

  &.family-serif {
    .decoration-background {
      background-size: 100% calc($h2 + 0.5rem);
    }
  }
}

h2 {
  @include h2;
}

h3 {
  font-size: $h3;
  line-height: calc($h3 + 0.5rem);

  .decoration {
    &-background {
      background-size: 100% calc($h3 + 0.5rem);
    }

    &-underline {
      background-size: 100% calc($h3 / 2);
    }
  }
}

h4,
h5,
h6 {
  .decoration {
    @extend .noDecoration;
    color: $neutral900 !important;
  }
}

h4 {
  font-size: $h4;
  line-height: calc($h4 + 0.5rem);
}

h5 {
  font-size: $h5;
  line-height: 1.5rem;
}

h6 {
  font-size: $h6;
  line-height: 1.5rem;
}

p {
  font-weight: 300;
  line-height: 1.5rem;
  color: $neutral700;

  .decoration {
    @extend .noDecoration;
    color: $neutral700 !important;
  }
}

.weight {
  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }
}

strong {
  font-weight: 600;
  color: $neutral900;
}

@media (max-width: 768px) {
  h1 {
    @include h2;
  }
}
