@import "../../variables.scss";

$poppinsMask: linear-gradient(
  transparent 10%,
  $black 10%,
  $black 90%,
  transparent 90%
);

$playfairDisplayMask: linear-gradient(transparent 15%, $black 15%);

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
  line-height: calc($h4 + 0.5rem);
}

h5 {
  font-size: $h5;
  line-height: calc($h5 + 0.5rem);
}

h6 {
  font-size: $h6;
  line-height: calc($h6 + 0.5rem);
}

p {
  font-weight: 300;
  line-height: 1.5rem;
  color: $neutral700;
}

strong {
  font-weight: 600;
  color: $neutral900;
}

.animation {
  mask: $poppinsMask;

  span {
    position: relative;
    top: 89.5px;
    transition: top 1s 0.25s;
  }

  .decoration {
    mask: $poppinsMask;
    background-repeat: no-repeat;
    background-position-y: 100%;

    &-background {
      @extend .decoration;
    }

    &-underline {
      @extend .decoration;
      background-size: 100% 45%;
    }
  }
}

.visible {
  .animation {
    span {
      top: 0;
    }
  }
}

.family-playfairDisplay {
  font-family: "Playfair Display", serif;

  .animation {
    mask: $playfairDisplayMask;

    .decoration {
      mask: $playfairDisplayMask;

      &-underline {
        background-size: 100% 35%;
      }
    }
  }
}

.weight {
  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: $h2;
  }
}
