@import "../../variables.scss";

.background {
  display: inline;
  box-decoration-break: clone;
}

.underline {
  display: inline;
  background-repeat: no-repeat;
  background-position-y: 100%;
  box-decoration-break: clone;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: $h1;
  line-height: calc($h1 + 0.5rem);

  &.addition {
    &-background {
      @extend .background;
      padding: 0 16px 8px 16px;
    }

    &-underline {
      @extend .underline;
      padding: 0 8px;
      background-size: 100% calc($h1 / 2);
    }
  }
}

h2 {
  font-size: $h2;
  line-height: calc($h2 + 0.5rem);

  &.addition {
    &-background {
      @extend .background;
      padding: 0 16px 8px 16px;
    }

    &-underline {
      @extend .underline;
      padding: 0 8px;
      background-size: 100% calc($h2 / 2);
    }
  }
}

h3 {
  font-size: $h3;
  line-height: calc($h3 + 0.5rem);

  &.addition {
    &-background {
      @extend .background;
      padding: 4px 16px 8px 16px;
    }

    &-underline {
      @extend .underline;
      padding: 0 4px;
      background-size: 100% calc($h3 / 2);
    }
  }
}

h4 {
  font-size: $h4;
  line-height: calc($h4 + 0.5rem);
}

h5 {
  font-size: $h5;
  line-height: 1.5rem;
}

h6 {
  font-size: $h6;
  line-height: 1.5rem;
}

p {
  margin: 0;
  font-size: $p;
  line-height: 1.5rem;
}

.weight {
  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-700 {
    font-weight: 700;
  }
}
