@import "../../variables.scss";

.page {
  & > div {
    & > div {
      & > div {
        opacity: 0;
        transform: translateY(100px);
      }
    }

    &.visible {
      & > div {
        & > div {
          opacity: 1;
          transform: translateY(0);
          transition: opacity 0.5s, transform 1s;
        }
      }
    }
  }
}
