@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 81px;
  background-color: $neutral50;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
