$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1.125rem;
$h6: 1rem;
$body: 0.8125rem;

$white: #fff;
$success100: #d7f5dd;
$success300: #4cc76e;
$neutral50: #f7f7f8;
$neutral100: #ebebef;
$neutral200: #d8d8df;
$neutral700: #434356;
$neutral900: #131318;

$minWidth: 320px;
$navbarHeight: 65px;
