$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1.125rem;
$h6: 1rem;
$body: 0.8125rem;

$success100: #d7f5dd;
$success300: #4cc76e;
$neutral50: #f7f7f8;
$neutral100: #ebebef;
$neutral200: #d8d8df;
$neutral300: #b9b9c6;
$neutral400: #8f8fa3;
$neutral500: #73738c;
$neutral600: #5a5a72;
$neutral700: #434356;
$neutral800: #25252d;
$neutral900: #131318;

$minWidth: 320px;
$navbarHeight: 65px;
