@import "../../variables.scss";

.section {
  padding-top: 80px;

  & > div {
    display: flex;
    align-items: center;
    gap: 80px;

    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 50%;

      & > p:nth-child(1) {
        margin-bottom: calc(-24px + 8px);
      }

      div {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    }

    & > div:nth-child(2) {
      position: relative;
      width: 50%;
      height: 560px;
      margin-bottom: calc(24px - 1px);

      img {
        width: 100%;
        height: 100%;
        background-color: $success100;
      }

      svg {
        position: absolute;
        z-index: -1;
        top: calc(24px - 1px);
        left: -24px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
