@import "../../variables.scss";

.nav {
  display: flex;
  gap: 40px;
  padding: 16px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        line-height: 1rem;
        color: $primary10;
        text-decoration: none;
      }
    }
  }

  .list {
    display: flex;
    gap: 16px;
    width: 100%;

    .listItem {
      & > a {
        display: flex;
        gap: 4px;
        padding: 8px 0;

        &.active {
          color: $primary40;
        }
      }

      .nestedList {
        position: absolute;
        z-index: 1;
        display: none;
        border: 1px solid $neutral95;
        background-color: $white;

        .nestedListItem {
          a {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            margin: 0 16px;
            border-bottom: 1px solid $neutral95;
            padding: 16px 0;

            div {
              display: flex;
              gap: 8px;
            }
          }

          &:last-child {
            a {
              border-bottom: 0;
            }
          }
        }
      }

      &:hover {
        & > a {
          span {
            transform: rotate(180deg);
          }
        }

        .nestedList {
          display: block;
        }
      }

      &.languageSwitch {
        margin-left: auto;

        .switchBox {
          display: flex;
          gap: 16px;
          cursor: pointer;

          .switchLabel {
            display: flex;
            gap: 8px;
            padding: 8px 0;
            line-height: 1rem;

            span {
              display: none;
            }
          }
        }
      }

      &.border {
        border-right: 1px solid $neutral95;
      }

      &.downloadButton {
        button {
          all: unset;
          border-radius: 16px;
          padding: 8px 16px;
          background-color: $primary40;
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 1rem;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  .hamburger {
    display: none;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .nav {
    justify-content: flex-end;

    .list {
      position: fixed;
      top: 0;
      right: 100%;
      flex-direction: column;
      gap: 0;
      margin-top: $navbarHeight;
      max-width: 50%;
      min-width: $minWidth;
      height: calc(100vh - $navbarHeight);
      background-color: $white;
      overflow: auto;
      transition: transform 0.5s;

      &.visible {
        transform: translateX(100%);
      }

      .listItem {
        margin-left: max(24px, env(safe-area-inset-left));
        margin-right: 24px;

        & > a {
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          border-bottom: 1px solid $neutral95;
          padding: 16px 0;
          font-family: "Playfair Display", serif;
          font-size: $h4;
          font-weight: 700;
          line-height: calc($h4 + 0.5rem);

          span {
            color: $neutral90 !important;
            transform: none !important;
          }
        }

        .nestedList {
          position: static;
          display: block;
          border: 0;
          background-color: transparent;

          .nestedListItem,
          .nestedListItem:last-child {
            a {
              gap: 16px;
              margin: 0;
              border-bottom: 1px solid $neutral98;
            }
          }
        }

        &.languageSwitch {
          margin-left: max(24px, env(safe-area-inset-left));

          .switchBox {
            justify-content: space-between;
            padding: 8px 0;

            .switchLabel {
              span {
                display: flex;
              }
            }
          }
        }

        &.border {
          border-right: 0;
        }

        &.downloadButton {
          margin: auto 0 0;

          button {
            margin-top: 40px;
            border-radius: 0;
            padding: 16px 0;
            width: 100%;
            font-size: $body;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }

    .hamburger {
      display: inline-block;
    }
  }
}
